#brand {
    color: red;
}


#show-wine-details {
    display: none;
}


#add-wine-form {
    display: none;
}


.jumbotron-background {
    background-image: url("/assets/img/topshelfbackground.jpg") !important;
    background-size: cover !important;
  }

.title-color {
    color: lightgrey;
}
  
.right {
    float: right;
}

