#brand {
    color: red;
}

.members-title {
    margin-bottom: 2%;
}

.list-group-item {
    border: none;
    padding: 0;
}

#show-wine-details {
    display: none;
}


#show-rating-review {
    display: none;
}

#show-notes {
    display: none;
}


#add-wine-form {
    display: none;
}


.jumbotron-background {
    background-image: url("/assets/img/topshelfbackground.jpg") !important;
    background-size: cover !important;
  }

.title-color {
    color: lightgrey;
}
  
.right {
    float: right;
}

.noteBtn {
    color: black;
}

#indent {
    margin-left: 14px;
    margin-right: 14px;
}

.errorMessage {
    display: none;
}

